<?xml version="1.0" encoding="utf-8" ?>
<Component>
  <assembly Name="Medical.Forms">
    <class Key="Test01"  Name="Medical.Forms.MockTest.Test01.Test"/>
    <class Key="Test02"  Name="Medical.Forms.MockTest.Test02.Test02"/>
  </assembly>
  <assembly Name="Medical">
    <class Key="CheckUp"  Name="Medical.CheckUp"/>
  </assembly>
  <assembly Name="Figure">
    <class Key="FigureEdit"  Name="Medical.FigureEdit"/>
  </assembly>
</Component>
