<?xml version="1.0" encoding="utf-8" ?>
<Component>
  <assembly Name="Medical.Forms">
    <class Key="Test01"  Name="Medical.Forms.MockTest.Test01.Test"/>
    <class Key="Test02"  Name="Medical.Forms.MockTest.Test02.Test02"/>
  </assembly>
  <assembly Name="Medical">
    <class Key="CheckUp"  Name="Medical.CheckUp"/>
  </assembly>
  <assembly Name="Medical.Test">
    <class Key="MedicineEdit"  Name="Medical.Test.frmMedicine"/>
    <class Key="FigureEdit"  Name="Medical.Test.frmFigure"/>
    <class Key="ClinicEdit"  Name="Medical.Test.frmClinic"/>
    <class Key="WareHouseDetailEdit"  Name="Medical.Test.frmWareHouseDetail"/>
    <class Key="WareHouseDetailPageImport"  Name="Medical.Test.frmImportWH"/>
    <class Key="WareHouseDetailPageExport"  Name="Medical.Test.frmExportWH"/>
    <class Key="WHPageHistory"  Name="Medical.Test.frmWHPageHistory"/>
  </assembly>
</Component>
