<?xml version="1.0" encoding="utf-8" ?>
<Component>
  <assembly Name="Medical.Forms">
    <class Key="Test01"  Name="Medical.Forms.MockTest.Test01.Test"/>
    <class Key="Test02"  Name="Medical.Forms.MockTest.Test02.Test02"/>
  </assembly>
  <assembly Name="Medical">
    <class Key="WareHouseInventory"  Name="Medical.Warehouse.frmInventory"/>
    <class Key="MedicinePlanList"  Name="Medical.MedicinePlan.frmMedicinePlanList"/>
    <class Key="MedicinePlan"  Name="Medical.MedicinePlan.frmMedicinePlan"/>
    <class Key="MedicinePlanning"  Name="Medical.MedicinePlanning.MedicinePlanning"/>
    <class Key="CheckUp"  Name="Medical.CheckUp"/>
    <class Key="CheckUpHistory"  Name="Medical.History.History"/>
    <class Key="CheckUpOnDate"  Name=" Medical.CheckOnDate.CheckOnDate"/>
    <class Key="MedicineDelivery"  Name="Medical.MedicineDeliver.DeliverList"/>
    <class Key="MedicineEdit"  Name="Medical.MedicineForm.FrmMedicine"/>
    <class Key="WareHouseDetailEdit"  Name="Medical.Warehouse.frmWareHouse"/>
    <class Key="WareHouseDetailPageImport"  Name="Medical.WareHouseIE.WareHouseImport"/>
    <class Key="WareHouseDetailPageExport"  Name="Medical.WareHouseIE.WareHouseExport"/>
    <class Key="WHPageHistory"  Name="Medical.Warehouse.frmWHPageHistory"/>
    <class Key="WareHouseIOHistory"  Name="Medical.WareHouseIE.WareHouseIOHistory"/>
  </assembly>
  <assembly Name="Medical.Test">
    <class Key="FigureEdit"  Name="Medical.Test.frmFigure"/>
    <class Key="ClinicEdit"  Name="Medical.Test.frmClinic"/>
  </assembly>
</Component>

