<?xml version="1.0" encoding="utf-8" ?>
<MenuItem Name="Top" Description="TopItem, noway to display.">
  <MenuItem Name="Kiểm thử">
    <MenuItem Name="Kiểm thử 1" Key="Test01"  Image="save.png" Description=""/>
    <MenuItem Name="Kiểm thử 2" Key="Test02"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Bác sĩ">
    <MenuItem Name="Khám bệnh" Key="CheckUp"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Thuốc">
    <MenuItem Name="Quản lý thuốc" Key="MedicineEdit"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Phác đồ">
    <MenuItem Name="Quản lý phác đồ" Key="FigureEdit"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Phòng khám">
    <MenuItem Name="Quản lý phòng khám" Key="ClinicEdit"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Kho">
    <MenuItem Name="Quản lý kho" Key="WareHouseDetailEdit"  Image="save.png" Description=""/>
    <MenuItem Name="Nhập kho" Key="WareHouseDetailPageImport"  Image="save.png" Description=""/>
    <MenuItem Name="Xuất kho" Key="WareHouseDetailPageExport"  Image="save.png" Description=""/>
  </MenuItem>
</MenuItem>