<?xml version="1.0" encoding="utf-8" ?>
<MenuItem Name="Top" Description="TopItem, noway to display.">
  <MenuItem Name="Khám bệnh">
    <MenuItem Name="Khám bệnh" Key="CheckUp"  Image="save.png" Description=""/>
    <MenuItem Name="Nhật ký khám bệnh" Key="CheckUp"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Khám bệnh">
    <MenuItem Name="Cấp thuốc" Key="MedicineDelivery"  Image="save.png" Description=""/>
    <MenuItem Name="Nhật ký cấp thuốc" Key="CheckUp"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Lập Dự trù thuốc">
    <MenuItem Name="Lập dự trù" Key="MedicinePlan"  Image="save.png" Description=""/>
    <MenuItem Name="Dự trù đã lập" Key=""  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Kho">
    <MenuItem Name="Tồn kho" Key=""  Image="save.png" Description=""/>
    <MenuItem Name="Quản lý kho" Key="WareHouseDetailEdit"  Image="save.png" Description=""/>
    <MenuItem Name="Nhập kho" Key="WareHouseDetailPageImport"  Image="save.png" Description=""/>
    <MenuItem Name="Xuất kho" Key="WareHouseDetailPageExport"  Image="save.png" Description=""/>
    <MenuItem Name="Lịch sử xuất nhập kho" Key="WHPageHistory"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Báo cáo">
  </MenuItem>
  <MenuItem Name="Quản lý">
    <MenuItem Name="Quản lý thuốc" Key="MedicineEdit"  Image="save.png" Description=""/>
    <MenuItem Name="Quản lý phác đồ" Key="FigureEdit"  Image="save.png" Description=""/>
    <MenuItem Name="Quản lý phòng khám" Key="ClinicEdit"  Image="save.png" Description=""/>
  </MenuItem>
  
</MenuItem>

