<?xml version="1.0" encoding="utf-8" ?>
<MenuItem Name="Top" Description="TopItem, noway to display.">
  <MenuItem Name="Khám bệnh">
    <MenuItem Name="Khám bệnh" Key="CheckUp"  Image="save.png" Description=""/>
    <MenuItem Name="Nhật ký khám bệnh" Key="CheckUpHistory"  Image="save.png" Description=""/>
    <MenuItem Name="Bệnh nhân chậm tái khám" Key="CheckUpOnDate"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Cấp thuốc">
    <MenuItem Name="Cấp thuốc" Key="MedicineDelivery"  Image="save.png" Description=""/>
    <MenuItem Name="Nhật ký cấp thuốc" Key="MedicineDeliveryHistory"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Lập Dự trù thuốc">
    <!--<MenuItem Name="Lập dự trù" Key="MedicinePlan"  Image="save.png" Description=""/>
    <MenuItem Name="Dự trù đã lập" Key="MedicinePlanList"  Image="save.png" Description=""/>-->
    <MenuItem Name="Lập dự trù" Key="MedicinePlanning"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Kho">
    <!--<MenuItem Name="Tồn kho" Key="WareHouseInventory"  Image="save.png" Description=""/>-->
    <MenuItem Name="Tồn kho" Key="WareHouseSummary"  Image="save.png" Description=""/>
    <MenuItem Name="Quản lý kho" Key="WareHouseDetailEdit"  Image="save.png" Description=""/>    
    <MenuItem Name="Nhập kho" Key="WareHouseDetailPageImport"  Image="save.png" Description=""/>    
    <!--<MenuItem Name="Xuất kho" Key="WareHouseDetailPageExport"  Image="save.png" Description=""/>-->
    <MenuItem Name="Lịch sử xuất nhập kho" Key="WareHouseIOHistory"  Image="save.png" Description=""/>
    <!--<MenuItem Name="Báo cáo thuốc hỏng" Key=""  Image="save.png" Description=""/>-->
  </MenuItem>
  <MenuItem Name="Báo cáo">
    <MenuItem Name="Báo cáo tồn kho theo tháng" Key="ReportMedicineIOByMonth"  Image="save.png" Description=""/>
    <MenuItem Name="Báo cáo thuốc sử dụng trong tháng" Key="ReportTotalMedicineDeliveryByMonth"  Image="save.png" Description=""/>
  </MenuItem>
  <MenuItem Name="Quản lý">
    <MenuItem Name="Quản lý thuốc" Key="MedicineEdit"  Image="save.png" Description=""/>
    <MenuItem Name="Quản lý phác đồ" Key="FigureEdit"  Image="save.png" Description=""/>
    <!--<MenuItem Name="Quản lý phòng khám" Key="ClinicEdit"  Image="save.png" Description=""/>-->
    <MenuItem Name="Quản lý bệnh nhân" Key="PatientEdit"  Image="save.png" Description=""/>
    <!--<MenuItem Name="Quản lý người sử dụng" Key="UserManageForm"  Image="save.png" Description=""/>-->
  </MenuItem>  
</MenuItem>

