<?xml version="1.0" encoding="utf-8" ?>
<Component>
  <assembly Name="Medical">
    <class Key="WareHouseInventory"  Name="Medical.Warehouse.frmInventory"/>
    <class Key="MedicinePlanList"  Name="Medical.MedicinePlan.frmMedicinePlanList"/>
    <class Key="MedicinePlan"  Name="Medical.MedicinePlan.frmMedicinePlan"/>
    <class Key="MedicinePlanning"  Name="Medical.MedicinePlanning.MedicinePlanning"/>
    <class Key="CheckUp"  Name="Medical.CheckUp"/>
    <class Key="PatientEdit"  Name="Medical.PatientManageForm"/>
    <class Key="CheckUpHistory"  Name="Medical.History.History"/>
    <class Key="CheckUpOnDate"  Name=" Medical.CheckOnDate.CheckOnDate"/>
    <class Key="MedicineDelivery"  Name="Medical.MedicineDeliver.DeliverList"/>
    <class Key="MedicineDeliveryHistory"  Name="Medical.MedicineDeliverHistory.MedicineDeliveryHistory"/>
    <class Key="MedicineEdit"  Name="Medical.MedicineForm.FrmMedicine"/>
    <class Key="WareHouseDetailEdit"  Name="Medical.Warehouse.frmWareHouse"/>
    <class Key="WareHouseDetailPageImport"  Name="Medical.WareHouseIE.WareHouseImport"/>
    <class Key="WareHouseDetailPageExport"  Name="Medical.WareHouseIE.WareHouseExport"/>
    <class Key="WHPageHistory"  Name="Medical.Warehouse.frmWHPageHistory"/>
    <class Key="WareHouseIOHistory"  Name="Medical.WareHouseIE.WareHouseIOHistory"/>
    <class Key="WareHouseSummary"  Name="Medical.WareHouses.WareHouse"/>
    <class Key="ReportTotalMedicineDeliveryByMonth"  Name="Medical.Reports.ReportTotalMedicineDelivery"/>
    <class Key="ReportMedicineIOByMonth"  Name="Medical.Reports.ReportWareHouseIOByMonth"/>
    <class Key="UserManageForm"  Name="Medical.Users.UserManageForm"/>
    <class Key="FigureEdit"  Name="Medical.FrmFigure"/>
    <class Key="ClinicEdit"  Name="Medical.FrmClinic"/>
  </assembly>
</Component>

