<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SyncSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52230/Sync.asmx" binding="basicHttpBinding"
                bindingConfiguration="SyncSoap" contract="SyncService.SyncSoap"
                name="SyncSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
