<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Medical.Properties.Settings.MedicalConnectionString"
            connectionString="Data Source=.;Initial Catalog=Medical;User ID=sa;Password=sa@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>