<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SynServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5384/Medical.Web/Services/SynService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SynServiceSoap"
                contract="SynService.SynServiceSoap" name="SynServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>